{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Camejobs{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/modificar_perfil.css' %}">
    <link rel="icon" href="{% static 'img/Logo camejobs.png' %}">
</head>
<body>

    {% include 'usuarios/navbar.html' %}

    <br><br><br><br><br>

    <div class="perfil-container">
        <h1 class="titulo">Modificar Perfil</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <section class="seccion">
                <h2 class="titulo-seccion">Datos Personales</h2>
                {{ persona_form.as_p }} 
            </section>

            <div class="boton-guardar">
                <button class="inner-btn-guardar" type="submit">Guardar Cambios</button>
            </div>
        </form>
    
        <br>
        
        {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
                {% if messages %}{% for message in messages %}{% endfor %}{% endif %}
            </div>
        {% endif %}

        <br>

        <div class="botones-agregar">
        <h2>Formación Académica</h2>
        <a href="{% url 'agregar_formacion' %}" class="btn-agregar">Agregar Formación</a>
        </div>
        <ul>
                {% for formacion in formaciones %}
                <li>
                    {{ formacion.titulo_obtenido }} - {{ formacion.institucion }}
                    <a href="{% url 'editar_formacion' formacion.id %}" class="btn-agregar">Editar</a>

                    <a href="{% url 'eliminar_formacion' formacion.id %}" class="btn-agregar">Eliminar</a>
                </li>
                {% endfor %}
        </ul>
    
        <div class="botones-agregar">
        <h2>Experiencia Laboral</h2>
        <a href="{% url 'agregar_experiencia' %}" class="btn-agregar">Agregar Experiencia</a>
        </div>
        <ul>
            {% for experiencia in experiencias %}
            <li>
                {{ experiencia.cargo }} en {{ experiencia.nombre_empresa }}
                <a href="{% url 'editar_experiencia' experiencia.id %}" class="btn-agregar">Editar</a>
                <a href="{% url 'eliminar_experiencia' experiencia.id %}" class="btn-agregar">Eliminar</a>
            </li>
            {% endfor %}
        </ul>
        
    
    </div>

    {% include 'usuarios/footer.html' %}

</body>
</html>
