{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recuperar Contraseña</title>
        <link rel="stylesheet" href="{% static 'css/reset_password_done.css' %}">
        <link rel="icon" href="{% static 'img/Logo camejobs.png' %}">
    </head>
    <body>
        <div class="reset-box">
            <img src="{% static 'img/logo.jpg' %}" alt="Logo de CameJobs" class="logo">
            <h1>Correo Enviado</h1>
            <p>Revisa tu bandeja de entrada para restablecer tu contraseña.</p>

            <a href="{% url 'login' %}">
                <button>Volver al Inicio de Sesión</button>
            </a>
        </div>
    </body>
</html>