body {
    background-image: url('../img/detalles-postulacion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.ver-detalles-postulacion {
    background-color: #ffffff; 
    max-width: 800px;
    width: 90%;
    margin: 150px auto 0;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.detalles {
    text-align: left;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.409);
}



.ver-detalles-postulacion button {
    margin: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    background-color: #087b5a;
    cursor: pointer;
    border-radius: 5px

}


.dark-mode .ver-detalles-postulacion {
    background-color: #0c1e2c;
    color: #ffffff;
} 

.dark-mode .detalles {
    background-color: #102b3e;
    color: #ffffff;
    border: 1px solid #ffffff;
}

footer {
    margin-top: auto;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 600px) {
    .ver-detalles-postulacion {
        width: 85%;
    }

}